body{
    background-color: rgb(38, 0, 255);
    font: normal 20pt Arial;
}
header{
    color: aliceblue;
    text-align: center;
}
section{
    background-color: aliceblue;
    color: black;
    border-radius: 9px;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-style: none;
    text-align: center;
}
img{
    margin: auto;
    width: 500px;
    height: 300px;
}
footer{
    font-size: 18px;
    text-align: center;
    color: aliceblue;
    font-style: italic;
}